body {
  font-family: sans-serif;
  margin: auto;
}

nav {
  background-color: #eee;
  border-radius: 2px;
  height: 30px;
  padding: 10px 40px 5px 40px;
  line-height: 20px;

  b::first-letter {
    text-transform: uppercase;
  }
}

.users-list {
  h2 {
    margin-left: 40px;
  }

  div.actions {
    div.sortField {
      display: inline-block;
      margin-right: 100px;
      margin-left: 40px;
      ;

      span.fieldTitle {
        font-size: 14px;
        line-height: 20px;
      }

      span.sort {
        display: inline-block;
        position: relative;
        top: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        text-align: center;
        transform: rotate(0deg);

        &.asc {
          transform: rotate(0deg);
        }

        &.desc {
          transform: rotate(180deg);
        }
      }
    }

    div.searchField {
      display: inline-block;
      border: 1px solid #aaa;
      border-radius: 3px;
      width: 200px;

      svg.searchIcon {
        position: relative;
        top: 5px;
        display: inline-block;
        margin: 0px 0px 0px 5px;
      }

      input.search {
        display: inline-block;
        margin-left: 5px;
        border: 0;
        outline: 0px;
        height: 24px;
        width: 160px;
      }
    }
  }

  ul {
    li {
      b {
        display: inline-block;
        margin-right: 20px;
        width: 200px;
        line-height: 20px;

        i {
          display: inline-block;
          font-style: normal;
          background-color: yellow;
          outline: 2px solid orange;
          border-radius: 1px;
        }
      }

      a {
        display: inline-block;
        margin-right: 20px;
        width: 70px;
      }
    }
  }

  .results {
    margin-left: 40px;
  }
}

body.posts {
  header {
    h1 {
      margin: 40px;
    }
  }

  nav {
    b::first-letter {
      text-transform: uppercase;
    }
  }

  main {
    article {
      margin: 40px;
    }
  }
}

body.post {
  header {
    h1 {
      margin: 40px;
    }
  }

  nav {
    b::first-letter {
      text-transform: uppercase;
    }
  }

  main {
    h2 {
      margin: 40px;
    }

    p {
      margin: 40px;
    }

    h3 {
      margin: 40px 80px;
      color: #888;
    }

    div {
      margin: 40px 80px;
      border: 1px solid #eee;
      border-radius: 10px;
      padding-left: 20px;
    }
  }
}

body.albums {
  header {
    h1 {
      margin: 40px;
    }
  }

  nav {
    b::first-letter {
      text-transform: uppercase;
    }
  }

  main {
    article {
      margin: 40px;
    }
  }
}

body.album {
  header {
    h1 {
      margin: 40px;
    }
  }

  nav {
    b::first-letter {
      text-transform: uppercase;
    }
  }

  main {
    h2 {
      margin: 40px;
      text-transform: uppercase;
    }

    p {
      margin: 40px;
    }

    p::first-letter {
      text-transform: uppercase;
    }

    h3 {
      margin: 40px 80px;
      color: #888;
    }

    h4 {
      margin: 100px 40px 40px 40px;
      text-align: left;
    }

    h4::first-letter {
      text-transform: uppercase;
    }

    &>div {
      margin: 40px;
    }

    div {
      margin: 40px 80px;
      border: 1px solid #eee;
      border-radius: 10px;
    }
  }
}

footer {
  margin: 40px;
}