<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.SEO %>
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
    </nav>
    <main>
      <section>
        <div id="root"></div>
      </section>
    </main>
  </body>
</html>
